html,
body,
#canvas > svg {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#canvas{
    width: 100%;
    height: 100%;
    position: relative;
}

#iu-console{
    display: none;
    box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.59);
    background-color: #f7f7f7;
    float: left;
    padding: 5px;
}

.show-console #canvas{
    margin: 0;
    padding: 0;
    height: 100%;
    width:  70%;
    float: left;
}

.show-console #iu-console{
    display: block;
    height: 100%;
    width: 30%;
}

#canvas > svg {
    margin-bottom: -4px;
}

#canvas.moving{
    cursor: move;
}

@media (max-width: 991px) {
    .show-console #canvas{
        height: calc(100% - 200px);
        width: 100%;
    }
    .show-console #iu-console{
        height: 200px;
        width: 100%;
    }
}

#iu-console .output{
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border: 1px solid #ccc;
}

#iu-console .input{
    height: 45px;
    padding: 10px 0px 0px;
}

#iu-console .input .input-text{
    float: left;
    width: calc(100% - 45px);
    position: relative
}

#iu-console .input .input-text input{
    padding: 6px 34px 6px 5px;
    border-radius: 2px;
}

#iu-console .input .input-text button{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    background: inherit;
    padding: 0 10px;
    color: #777;
}

#iu-console .input .input-text button:hover{
    color: #333;
}

#iu-console .input .input-file{
    float: left;
    width: 45px;
    text-align: center;
    color: #fff
}

#iu-console .input .input-file button{
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.37), inset 0px 1px 1px rgba(255, 255, 255, 0.4);
    padding: 0;
}

#ui-controllers{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px 5px 100px;
    pointer-events: none;
}

#ui-controllers > button{
    display:  block;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    margin: 5px 0;
    pointer-events: initial;
    box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.37), inset 0px 1px 1px rgba(255, 255, 255, 0.4);
}

#ui-nav{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    pointer-events: none;
    width: 200px;
}

#ui-nav button{
    display: inline-block;
    width: 40px;
    height: 35px;
    pointer-events: initial;
    box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.37), inset 0px 1px 1px rgba(255, 255, 255, 0.4);
}

#ui-nav #zoom-in{
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}

#ui-nav #zoom-out{
    border-top: none;
    border-radius: 0 0 4px 4px;
}

#ui-nav #position{
    margin-top: 5px;
    font-size: 12px;
}

#bg-grid > line {
    stroke: #aaa;
    /*stroke: #ECECEC;*/
    stroke-width: 0.5px;
}

#vertices > .vertice{
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

#vertices > .dragging{
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

#vertices > .selected > circle{
    fill: #aaa;
}

#vertices > .visited > circle{
    fill: #f50000;
}

#edges .visited line,
#edges .visited circle{
    stroke: #f50000;
}

#edges .visited text{
    fill: #f50000;
}