/* *********************** Geral *********************** */

html,
body,
#canvas > svg {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#canvas{
    width: 100%;
    height: 100%;
    position: relative;
}

#iu-console{
    display: none;
    float: left;
    padding: 5px;
}

.show-console #canvas{
    margin: 0;
    padding: 0;
    height: 100%;
    width:  70%;
    float: left;
}

.show-console #iu-console{
    display: block;
    height: 100%;
    width: 30%;
}

#canvas > svg {
    margin-bottom: -4px;
}

#canvas.moving{
    cursor: move;
}

#toast{
    position: absolute;
    z-index: 1000;
    bottom: 0px;
    left: 60px;
    width: calc(100% - 135px);
    pointer-events: none;
    text-align: center;
}

.show-console #toast{
    width: calc(70% - 135px);
}

@media (max-width: 991px) {
    .show-console #canvas{
        height: calc(100% - 200px);
        width: 100%;
    }
    .show-console #iu-console{
        height: 200px;
        width: 100%;
    }
    
    .show-console #toast{
        width: calc(100% - 135px);
        bottom: 200px;
    }
}

#ui-controllers{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px 5px 200px;
    pointer-events: none;
}

#ui-nav{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    pointer-events: none;
    width: 200px;
}

/* *********************** Toast *********************** */

#toast .alert{
    width: auto;
    display: inline-block;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.36), inset 0px 1px 1px rgba(216, 216, 216, 0.25);
    border: none;
}

#toast .alert .close{
    pointer-events: initial;
}

/* *********************** Console *********************** */

#iu-console{
    box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.59);
    background-color: #f7f7f7;
}

#iu-console .output{
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border: 1px solid #ccc;
}

#iu-console .output .alert{
    margin: 0 0 1px;
    padding: 10px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #DADADA;
    background-color: #fafafa;
    font-size: 12px;
}

#iu-console .output .alert:last-child{
    margin: 0;
}

#iu-console .output .alert .alert-title{
    font-size: 16px;
    margin-bottom: 5px;
}

#iu-console .output .alert .alert-title .glyphicon{
    margin-right: 2px;
}

#iu-console .output .alert-warning{
    border-bottom-color: #DFCEAB;
    background-color: #fcf8e3;
}

#iu-console .output .alert-success{
    border-bottom-color: #A3BE8C;
    background-color: #dff0d8;
}

#iu-console .output .alert-danger{
    border-bottom-color: #E0ADB6;
    background-color: #f2dede;
}

#iu-console .output .alert-info{
    border-bottom-color: #B1D2E2;
    background-color: #d9edf7;
}

#iu-console .input{
    height: 45px;
    padding: 10px 0px 0px;
}

#iu-console .input .input-text{
    float: left;
    width: calc(100% - 45px);
    position: relative
}

#iu-console .input .input-text input{
    padding: 6px 34px 6px 5px;
}

#iu-console .input .input-text button{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    background: inherit;
    padding: 0 10px;
    color: #777;
}

#iu-console .input .input-text button:hover{
    color: #333;
}

#iu-console .input .input-file{
    float: left;
    width: 45px;
    text-align: center;
    color: #fff
}

#iu-console .input .input-file button{
    height: 34px;
    width: 34px;
    border: none;
    padding: 0;
}

/* *********************** UI Controllers *********************** */

#ui-controllers > button{
    display:  block;
    width: 56px;
    height: 56px;
    margin: 5px 0;
}

#ui-controllers .popover{
    pointer-events: initial;
}

#ui-controllers .popover #new-vertice-value{
    width: calc(100% - 40px);
    float: left;
    margin: 5px 0;
    padding: 6px 3px 6px 12px;
}

#ui-controllers .popover #new-vertice-action{
    margin: 5px 0 0 5px;
    height: 34px;
    width: 34px;
    border: none;
    padding: 0;
}

/* *********************** UI Nav *********************** */

#ui-nav button{
    display: inline-block;
    width: 40px;
    height: 35px;
}

#ui-nav #zoom-in{
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}

#ui-nav #zoom-out{
    border-top: none;
    border-radius: 0 0 4px 4px;
}

#ui-nav #position{
    margin-top: 5px;
    font-size: 12px;
}